#intro .alignleft {
	float: left;
}

#intro img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

#intro a:link, #intro a:visited, #intro a:hover, #intro a:active {
	font-weight: bold;
	color: #008CD2;
}

#intro {

}
