/* custom css for the whole page */

/* executive board */
.boardmember {
	float:left;
	margin: 0 20px 20px 0;
	padding: 10px 10px 0 10px;
	border: 3px solid #800000;
	border-radius: 10px;
	float: left;
	height: 425px;
	width: 210px;
}

.boardmember img {
	border-radius: 50%;
	width: 184px;
}

.boardmember .caption {
	font-size: 0.65rem;
}
.boardmember .caption b {
	font-size: 0.9rem;
}

/* activities */
.activity {
	float: left;
	width: 48%;
	min-height: 205px;
	border: 3px solid #ccc;
	padding: 10px;
	margin: 0 10px 10px 0;
	border-radius: 25px;
}
.activity h3 {
	text-align: center;
	margin-top: 5px;
}
.activity p {
	font-size: 0.75em;
}
.activity:hover {
	background-color: #ccc;
	cursor: pointer;
}
.activity a:hover{
	text-decoration: none;
}
.activity a:active{
	text-decoration:none;
}
/* images */
.post div>img {
	float:right;
	position: relative;
	right: -5%;
	border-radius: 15px;
	width: 50%;
}

/* clearfix */
.group:before, .group:after { 
	content: "";
	display: table; 
}
.group:after {
	clear: both; 
}
.group {
	zoom: 1; /* IE6&7 */ 
}


/* buttons look awful */
button {
	font-size: 1em;
	background-color: #800000;
	color: #eee;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.9;	
	outline: none;
}
button:hover {
	opacity: 1;
}

/* sidebar */

/* make dipp sidebar more readable */
.theme-base-08 .sidebar {
	color: rgba(0,0,0,1);
}

/* this looks so crappy on Windows but whatever */
.sidebar {
	overflow-y: auto;
}

.sidebar .logo img {
	margin: 0 auto 0.2rem auto;
}
.sidebar .lead {
	font-size: 0.85rem;
}
.sidebar {
	padding: 0.3rem 1rem;
}

#mc_embed_signup label {
	color: #eee;
}


/* panels */
.panel {
	float: left;
	width: 48%;
	margin: 0.3rem;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	min-height: 200px;
}

.panel.blog {
	width:98%;
}

.panel .transparency {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	opacity: 0.65;
	border-radius: 15px;
	min-height: 200px;
}

.panel h2, .panel p {
	padding: 1rem 0.5rem 0rem;
	margin-top: 0;
	text-shadow: 0 0 2px #bbb;
}

.panel p {
	font-size: 1.2rem;
}

.panel .post-date {
	color: #000;
}

.panel.no-image {
	background-image: url('/resources/images/logo-background.jpg');
}

/* hover actions */
.panel:hover .transparency {
	opacity: 0.4;
}
.panel.blog:hover .transparency {
	opacity: 0.5;
}
.panel a:hover{
	text-decoration: none;
}
.panel a:active {
	text-decoration: none;
}
