<div class="sidebar">
  <div class="container sidebar">
	<div class="sidebar-about">
      <a href="/haha" class="logo"><img src="/resources/haha-logo.png" width="150rem" height="150rem" /></a>
      <p class="lead">{{ site.hahadescription }}</p>
    </div>

    <ul class="sidebar-nav">
      
      <li class="sidebar-nav-item{% if page.title == "Hack Harris" %} active{% endif %}">
        <a href="/haha">Hack Harris</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <!-- haha pages -->
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "haha" and node.title != 'Hack Harris' %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <br/>

      <!-- dipp pages -->
      <li class="sidebar-nav-item active">
        <a href="/">Data in Public Policy</a>
      </li>
      <!--
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" and node.title != 'Home' %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      -->
    </ul>
    <a href="/atom.xml" style="float:right;"><img src="/resources/feed.png" height="32rem" width="32rem" /></a>
      <li class="sidebar-nav-item">
        <a href="https://lists.uchicago.edu/web/subscribe/dipp">Subscribe</a>&nbsp;&nbsp;&nbsp;<a href="{{ site.github.repo }}">GitHub</a>
      </li>
  </div>
</div>
